{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Forgot Password</h3>
            <div class="card">
                <div class="card-body">
                    <form action="/forgot_password" method="POST">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
